* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body .mainProductos .cabeceraProductos .h1Productos, body .tienda .h1Tienda {
  text-align: center;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif; }

/* estilos del index*/
body {
  height: 100%; }
  body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; }
    body header nav ul li a:hover {
      background: #73A9AD; }
    body header nav div a:hover {
      background: #73A9AD; }
  body .headerIndex {
    border-top: 15px solid transparent;
    border-image: linear-gradient(to right, #34626C, black) 1; }
    body .headerIndex .logoPrincipal {
      width: 230px;
      height: 200px;
      margin: 40px 0; }
    body .headerIndex .logoPrincipal:hover {
      transform: scale(1.2); }
    body .headerIndex .menuNav {
      width: 100%; }
      body .headerIndex .menuNav nav {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 10px; }
        body .headerIndex .menuNav nav ul li {
          display: inline-block; }
    body .headerIndex .indexNav {
      background-image: linear-gradient(to right, #34626C, black); }
      body .headerIndex .indexNav ul li a {
        font-family: 'Abel', sans-serif;
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
        font-size: 1.3rem;
        margin: 0px; }
      body .headerIndex .indexNav ul li a:hover {
        background: #60A9A6;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.562);
        border-radius: 50px; }
    body .headerIndex div div div img {
      width: auto;
      height: 65vh; }
  body .mainHome {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .mainHome .h1Inicio {
      margin: 20px 0; }
      body .mainHome .h1Inicio .estiloH1Inicio {
        text-align: center;
        font-family: 'Combo', cursive;
        font-size: 200%;
        font-weight: bold; }
    body .mainHome .contenedorDestacados {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 50px;
      margin-bottom: 60px; }
      body .mainHome .contenedorDestacados img {
        width: 200px;
        height: 80%; }
      body .mainHome .contenedorDestacados .h3Index {
        font-size: 1.2rem;
        margin: 10px;
        align-self: center; }
      body .mainHome .contenedorDestacados p {
        align-self: center; }
      body .mainHome .contenedorDestacados div div .botonAgregar {
        width: 100px;
        height: 35px;
        border: none;
        background-color: #0D4C92;
        color: white;
        padding: 5px;
        border-radius: 0; }
    body .mainHome .animacionCard:hover {
      transform: scale(1.3);
      box-shadow: 2px 2px 10px rgba(75, 72, 72, 0.24); }
    body .mainHome button {
      align-self: center;
      width: 18%;
      height: 2.3rem;
      background-color: black;
      border-radius: 50px; }
      body .mainHome button a {
        text-decoration: none;
        color: white; }
    body .mainHome button:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px 10px black; }
  body footer {
    color: whitesmoke;
    background-color: black;
    overflow: hidden;
    margin-top: 30px;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body footer .logoPago {
      padding: 30px; }
      body footer .logoPago .h2Pago {
        margin-bottom: 10px;
        font-size: 1.5rem; }
      body footer .logoPago img {
        width: 72px;
        height: 37px;
        margin-bottom: 50px;
        padding: 2px; }
    body footer div .h2Posicion {
      margin: 34px 0px 5px 10px;
      font-size: 1.5rem; }
    body footer div .logoRedes {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 220px;
      padding: 5px;
      border-radius: 50%; }
      body footer div .logoRedes .logoI {
        width: 40px;
        height: 40px; }
      body footer div .logoRedes a {
        text-decoration: none; }
        body footer div .logoRedes a .logoStyle {
          color: whitesmoke;
          font-size: 17px;
          margin-top: 10px; }
      body footer div .logoRedes .logoF {
        width: 30px;
        height: 30px;
        padding: 3px;
        margin: 0px 3px 0px 12px; }

/* estilos de productos */
body .headerProductos {
  width: 100%; }
  body .headerProductos .navProductos {
    margin-left: 0;
    margin-right: 0; }
    body .headerProductos .navProductos .btn.btn-primary {
      display: flex;
      justify-content: center;
      align-content: flex-start;
      background-color: black;
      border: none;
      width: 80px;
      height: 50px;
      position: relative;
      left: 350px; }
      body .headerProductos .navProductos .btn.btn-primary .bi.bi-cart3 {
        font-size: 30px; }
      body .headerProductos .navProductos .btn.btn-primary .contador {
        font-size: 20px;
        font-weight: bold; }

body .mainProductos {
  padding-right: 0; }
  body .mainProductos .cabeceraProductos {
    height: 120px;
    background-color: #3d8676;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%; }
    body .mainProductos .cabeceraProductos .h1Productos {
      margin-top: 30px; }
  body .mainProductos .row {
    margin-right: 0; }
    body .mainProductos .row div div section div div .botonAgregar {
      border: none;
      background-color: #0D4C92;
      color: white;
      padding: 5px; }
  body .mainProductos .contenedorOrdenCompra {
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    width: 100wh;
    height: 100vh;
    position: fixed;
    top: 0; }
    body .mainProductos .contenedorOrdenCompra form {
      display: flex;
      height: 330px;
      width: 70%;
      background-color: #59bcce;
      padding: 20px;
      border-radius: 5px;
      position: relative; }
      body .mainProductos .contenedorOrdenCompra form div input {
        display: block; }
      body .mainProductos .contenedorOrdenCompra form .btnOrdenCompra {
        margin-left: 150px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-items: center; }
  body .mainProductos div .btnVaciarCarrito {
    width: 90%;
    align-self: center;
    background: #0D4C92;
    color: white;
    border-radius: 8px;
    border-style: none;
    box-shadow: 1px 1px 10px black;
    font-weight: 600; }
  body .mainProductos div .btnFinalizar {
    width: 90%;
    align-self: center;
    background: #54B435;
    color: white;
    margin-top: 5px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 1px 1px 10px black;
    font-weight: 600; }
  body .mainProductos div div .productoEnCarrito {
    margin: 0 0 15px 30px; }
    body .mainProductos div div .productoEnCarrito img {
      width: 30%; }
    body .mainProductos div div .productoEnCarrito .botonEliminar {
      border: none;
      background-color: whitesmoke;
      width: 30px;
      height: 25px; }
  body .mainProductos div .lista {
    padding: 10px;
    margin: 30px 0; }
    body .mainProductos div .lista .list-group {
      --bs-list-group-active-bg: #59ce8f;
      --bs-list-group-active-border-color: #59CE8F; }
    body .mainProductos div .lista div h4 {
      padding: 10px;
      border-bottom: 0.5px groove #E1FFEE; }
    body .mainProductos div .lista div .productos {
      margin: 30px 0; }
      body .mainProductos div .lista div .productos .tarjeta {
        margin: 30px 30px;
        padding: 0px;
        font-family: 'Abel', sans-serif; }
      body .mainProductos div .lista div .productos .tarjeta:hover {
        transform: scale(1.3);
        box-shadow: 2px 2px 10px rgba(75, 72, 72, 0.24); }

/* estilos de la-tienda */
body .tienda {
  padding: 0;
  margin-bottom: 0; }
  body .tienda .navTienda {
    position: static;
    width: 100%; }
  body .tienda .h1Tienda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 18vh;
    background-color: #B97A95;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%; }

body .mainLaTienda {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 60% 10% 30%;
  grid-template-areas: "portada portada" "ubicacion ubicacion" "mainLaTienda1 mainLaTienda2";
  column-gap: 10px;
  height: auto; }
  body .mainLaTienda .portada {
    grid-area: portada;
    display: flex;
    justify-content: center; }
    body .mainLaTienda .portada img {
      width: 60%;
      height: 95%; }
  body .mainLaTienda .ubicacion {
    grid-area: ubicacion;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px; }
    body .mainLaTienda .ubicacion p {
      margin-top: 20px; }
    body .mainLaTienda .ubicacion img {
      width: 50px;
      height: 60px; }
  body .mainLaTienda .mainLaTienda1 {
    grid-area: mainLaTienda1;
    margin: 10px 0 0 60px;
    height: auto; }
    body .mainLaTienda .mainLaTienda1 .mapa {
      width: 70%; }
  body .mainLaTienda .mainLaTienda2 {
    grid-area: mainLaTienda2;
    display: flex;
    flex-direction: column; }
    body .mainLaTienda .mainLaTienda2 .tiendaIcon {
      display: flex;
      align-items: center;
      padding: 10px; }
      body .mainLaTienda .mainLaTienda2 .tiendaIcon .p-icon {
        margin: 10px;
        align-items: center;
        font-family: 'Abel', sans-serif; }

/* estilos contacto */
.hojaContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 60% 30%;
  grid-template-areas: "header header" "main main" "footer footer";
  background-image: url(../img/background.image/fondo.contacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 130vh; }
  .hojaContacto .headerContacto {
    grid-area: header; }
    .hojaContacto .headerContacto .navContacto {
      margin-left: 0;
      margin-bottom: 10px; }
  .hojaContacto .mainContacto {
    grid-area: main;
    margin-bottom: 40px; }
    .hojaContacto .mainContacto .formulario {
      width: 90%;
      max-width: 600px;
      margin: auto;
      background: rgba(0, 0, 1, 0.6);
      font-family: 'Abel', sans-serif;
      font-size: 20px;
      color: whitesmoke;
      border-radius: 10px; }
      .hojaContacto .mainContacto .formulario fieldset .form {
        padding: 10px;
        margin: 5px; }
        .hojaContacto .mainContacto .formulario fieldset .form label {
          padding: 3px;
          margin-right: 20px; }
        .hojaContacto .mainContacto .formulario fieldset .form input {
          width: 250px;
          height: 25px;
          border-radius: 10px;
          border-style: hidden; }
      .hojaContacto .mainContacto .formulario fieldset .formDistinto {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 5px; }
        .hojaContacto .mainContacto .formulario fieldset .formDistinto input {
          width: 500px;
          height: 100px;
          margin: 10px 0 10px 0;
          border-radius: 10px;
          border-style: hidden; }
      .hojaContacto .mainContacto .formulario fieldset .formButton {
        display: flex;
        justify-content: space-around;
        padding: 5px; }
        .hojaContacto .mainContacto .formulario fieldset .formButton input {
          width: 10rem;
          height: 1.5rem;
          border-radius: 10px;
          border-style: hidden;
          font-family: 'Abel', sans-serif;
          font-size: 90%; }
  .hojaContacto .footerStyleContacto {
    grid-area: footer; }

/* Media Queries */
@media screen and (max-width: 800px) {
  /* index */
  body header .menuNav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto; }
    body header .menuNav .indexNav {
      width: auto; }
      body header .menuNav .indexNav ul {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;
        margin-bottom: 0; }
        body header .menuNav .indexNav ul li {
          width: auto; }
          body header .menuNav .indexNav ul li a {
            width: auto;
            height: auto; }
    body header .menuNav div div div img {
      height: auto; }
  body .mainHome {
    display: flex;
    flex-direction: column;
    align-content: center; }
    body .mainHome button {
      width: auto; }
  body footer {
    display: flex;
    flex-direction: column; }
    body footer .logoPago {
      margin: 0;
      padding: 10px; }
      body footer .logoPago img {
        margin: 5px; }
    body footer div .logoRedes {
      justify-content: start;
      width: 100%; }
  /* Productos */
  body .mainProductos div .lista {
    width: 100%; }
  /* La Tienda */
  body .tienda {
    display: flex;
    flex-direction: column;
    height: auto; }
    body .tienda .h1Tienda {
      height: 120px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
  body .mainLaTienda {
    display: flex;
    flex-direction: column;
    height: auto; }
  /* contacto */
  .hojaContacto {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; }
    .hojaContacto .mainContacto .formulario {
      width: 100%;
      margin: 30px 0; }
      .hojaContacto .mainContacto .formulario fieldset .form {
        display: flex;
        flex-direction: column; }
        .hojaContacto .mainContacto .formulario fieldset .form input {
          width: auto; }
      .hojaContacto .mainContacto .formulario fieldset .formDistinto input {
        width: 100%; }
      .hojaContacto .mainContacto .formulario fieldset .formButton {
        padding: 0x;
        gap: 2px; }
        .hojaContacto .mainContacto .formulario fieldset .formButton input {
          width: 70%; }
    .hojaContacto .footerStyleContacto {
      display: none; } }
