* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body .mainProductos .cabeceraProductos .h1Productos, body .tienda .h1Tienda {
  text-align: center;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif; }

/* estilos del index*/
body {
  height: 100%; }
  body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; }
    body header nav ul li a:hover {
      background: #73A9AD; }
    body header nav div a:hover {
      background: #73A9AD; }
  body .headerIndex {
    border-top: 15px solid transparent;
    border-image: linear-gradient(to right, #34626C, black) 1; }
    body .headerIndex .logoPrincipal {
      width: 230px;
      height: 200px;
      margin: 40px 0; }
    body .headerIndex .logoPrincipal:hover {
      transform: scale(1.2); }
    body .headerIndex .menuNav {
      width: 100%; }
      body .headerIndex .menuNav nav {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 10px; }
        body .headerIndex .menuNav nav ul li {
          display: inline-block; }
    body .headerIndex .indexNav {
      background-image: linear-gradient(to right, #34626C, black); }
      body .headerIndex .indexNav ul li a {
        font-family: 'Abel', sans-serif;
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
        font-size: 1.3rem;
        margin: 0px; }
      body .headerIndex .indexNav ul li a:hover {
        background: #60A9A6;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.562);
        border-radius: 50px; }
    body .headerIndex div div div img {
      width: auto;
      height: 65vh; }
  body .mainHome {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .mainHome .h1Inicio {
      margin: 20px 0; }
      body .mainHome .h1Inicio .estiloH1Inicio {
        text-align: center;
        font-family: 'Combo', cursive;
        font-size: 200%;
        font-weight: bold; }
    body .mainHome .contenedorDestacados {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 50px;
      margin-bottom: 60px; }
      body .mainHome .contenedorDestacados img {
        width: 200px;
        height: 80%; }
      body .mainHome .contenedorDestacados .h3Index {
        font-size: 1.2rem;
        margin: 10px;
        align-self: center; }
      body .mainHome .contenedorDestacados p {
        align-self: center; }
    body .mainHome .animacionCard:hover {
      transform: scale(1.3);
      box-shadow: 2px 2px 10px rgba(75, 72, 72, 0.24); }
    body .mainHome button {
      align-self: center;
      width: 18%;
      height: 2.3rem;
      background-color: black;
      border-radius: 50px; }
      body .mainHome button a {
        text-decoration: none;
        color: white; }
    body .mainHome button:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px 10px black; }
  body footer {
    color: whitesmoke;
    background-color: black;
    overflow: hidden;
    margin-top: 30px;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body footer .logoPago {
      padding: 30px; }
      body footer .logoPago .h2Pago {
        margin-bottom: 10px;
        font-size: 1.5rem; }
      body footer .logoPago img {
        width: 72px;
        height: 37px;
        margin-bottom: 50px;
        padding: 2px; }
    body footer div .h2Posicion {
      margin: 34px 0px 5px 10px;
      font-size: 1.5rem; }
    body footer div .logoRedes {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 220px;
      padding: 5px;
      border-radius: 50%; }
      body footer div .logoRedes .logoI {
        width: 40px;
        height: 40px; }
      body footer div .logoRedes a {
        text-decoration: none; }
        body footer div .logoRedes a .logoStyle {
          color: whitesmoke;
          font-size: 17px;
          margin-top: 10px; }
      body footer div .logoRedes .logoF {
        width: 30px;
        height: 30px;
        padding: 3px;
        margin: 0px 3px 0px 12px; }

/* estilos de productos */
body .headerProductos {
  width: 100%; }
  body .headerProductos .navProductos {
    margin-left: 0;
    margin-right: 0; }

body .mainProductos {
  padding-right: 0; }
  body .mainProductos .cabeceraProductos {
    height: 120px;
    background-color: #3d8676;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%; }
    body .mainProductos .cabeceraProductos .h1Productos {
      margin-top: 30px; }
  body .mainProductos .row {
    margin-right: 0; }
  body .mainProductos div .lista {
    padding: 10px;
    margin: 30px 0; }
    body .mainProductos div .lista .list-group {
      --bs-list-group-active-bg: #59ce8f;
      --bs-list-group-active-border-color: #59CE8F; }
    body .mainProductos div .lista div h4 {
      padding: 10px;
      border-bottom: 0.5px groove #E1FFEE; }
    body .mainProductos div .lista div .productos {
      margin: 30px 0; }
      body .mainProductos div .lista div .productos .tarjeta {
        margin: 30px 30px;
        padding: 0px;
        font-family: 'Abel', sans-serif; }
      body .mainProductos div .lista div .productos .tarjeta:hover {
        transform: scale(1.3);
        box-shadow: 2px 2px 10px rgba(75, 72, 72, 0.24); }

/* estilos de la-tienda */
body .tienda {
  padding: 0;
  margin-bottom: 0; }
  body .tienda .navTienda {
    position: static;
    width: 100%; }
  body .tienda .h1Tienda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 18vh;
    background-color: #B97A95;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%; }

body .mainLaTienda {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 60% 10% 30%;
  grid-template-areas: "portada portada" "ubicacion ubicacion" "mainLaTienda1 mainLaTienda2";
  column-gap: 10px;
  height: auto; }
  body .mainLaTienda .portada {
    grid-area: portada;
    display: flex;
    justify-content: center; }
    body .mainLaTienda .portada img {
      width: 60%;
      height: 95%; }
  body .mainLaTienda .ubicacion {
    grid-area: ubicacion;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px; }
    body .mainLaTienda .ubicacion p {
      margin-top: 20px; }
    body .mainLaTienda .ubicacion img {
      width: 50px;
      height: 60px; }
  body .mainLaTienda .mainLaTienda1 {
    grid-area: mainLaTienda1;
    margin: 10px 0 0 60px;
    height: auto; }
    body .mainLaTienda .mainLaTienda1 .mapa {
      width: 70%; }
  body .mainLaTienda .mainLaTienda2 {
    grid-area: mainLaTienda2;
    display: flex;
    flex-direction: column; }
    body .mainLaTienda .mainLaTienda2 .tiendaIcon {
      display: flex;
      align-items: center;
      padding: 10px; }
      body .mainLaTienda .mainLaTienda2 .tiendaIcon .p-icon {
        margin: 10px;
        align-items: center;
        font-family: 'Abel', sans-serif; }

/* estilos contacto */
.hojaContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 60% 30%;
  grid-template-areas: "header header" "main main" "footer footer";
  background-image: url(../img/background.image/fondo.contacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 130vh; }
  .hojaContacto .headerContacto {
    grid-area: header; }
    .hojaContacto .headerContacto .navContacto {
      margin-left: 0;
      margin-bottom: 10px; }
  .hojaContacto .mainContacto {
    grid-area: main;
    margin-bottom: 40px; }
    .hojaContacto .mainContacto .formulario {
      width: 90%;
      max-width: 600px;
      margin: auto;
      background: rgba(0, 0, 1, 0.6);
      font-family: 'Abel', sans-serif;
      font-size: 20px;
      color: whitesmoke;
      border-radius: 10px; }
      .hojaContacto .mainContacto .formulario fieldset .form {
        padding: 10px;
        margin: 5px; }
        .hojaContacto .mainContacto .formulario fieldset .form label {
          padding: 3px;
          margin-right: 20px; }
        .hojaContacto .mainContacto .formulario fieldset .form input {
          width: 250px;
          height: 25px;
          border-radius: 10px;
          border-style: hidden; }
      .hojaContacto .mainContacto .formulario fieldset .formDistinto {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 5px; }
        .hojaContacto .mainContacto .formulario fieldset .formDistinto input {
          width: 500px;
          height: 100px;
          margin: 10px 0 10px 0;
          border-radius: 10px;
          border-style: hidden; }
      .hojaContacto .mainContacto .formulario fieldset .formButton {
        display: flex;
        justify-content: space-around;
        padding: 5px; }
        .hojaContacto .mainContacto .formulario fieldset .formButton input {
          width: 10rem;
          height: 1.5rem;
          border-radius: 10px;
          border-style: hidden;
          font-family: 'Abel', sans-serif;
          font-size: 90%; }
  .hojaContacto .footerStyleContacto {
    grid-area: footer; }

/* Media Queries */
@media screen and (max-width: 800px) {
  /* index */
  body header .menuNav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto; }
    body header .menuNav .indexNav {
      width: auto; }
      body header .menuNav .indexNav ul {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;
        margin-bottom: 0; }
        body header .menuNav .indexNav ul li {
          width: auto; }
          body header .menuNav .indexNav ul li a {
            width: auto;
            height: auto; }
    body header .menuNav div div div img {
      height: auto; }
  body .mainHome {
    display: flex;
    flex-direction: column;
    align-content: center; }
    body .mainHome button {
      width: auto; }
  body footer {
    display: flex;
    flex-direction: column; }
    body footer .logoPago {
      margin: 0;
      padding: 10px; }
      body footer .logoPago img {
        margin: 5px; }
    body footer div .logoRedes {
      justify-content: start;
      width: 100%; }
  /* Productos */
  body .mainProductos div .lista {
    width: 100%; }
  /* La Tienda */
  body .tienda {
    display: flex;
    flex-direction: column;
    height: auto; }
    body .tienda .h1Tienda {
      height: 120px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
  body .mainLaTienda {
    display: flex;
    flex-direction: column;
    height: auto; }
  /* contacto */
  .hojaContacto {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; }
    .hojaContacto .mainContacto .formulario {
      width: 100%;
      margin: 30px 0; }
      .hojaContacto .mainContacto .formulario fieldset .form {
        display: flex;
        flex-direction: column; }
        .hojaContacto .mainContacto .formulario fieldset .form input {
          width: auto; }
      .hojaContacto .mainContacto .formulario fieldset .formDistinto input {
        width: 100%; }
      .hojaContacto .mainContacto .formulario fieldset .formButton {
        padding: 0x;
        gap: 2px; }
        .hojaContacto .mainContacto .formulario fieldset .formButton input {
          width: 70%; }
    .hojaContacto .footerStyleContacto {
      display: none; }
  /* Mas.. */
  body .headerMas .encabezado {
    height: auto; }
  body .mainMas {
    display: flex;
    flex-direction: column;
    height: auto; }
    body .mainMas .anteriores {
      width: 100%;
      height: auto;
      margin-bottom: 30px; }
      body .mainMas .anteriores .buttonMas {
        width: auto; }
    body .mainMas .imgMas {
      display: flex;
      justify-content: center;
      width: auto; }
      body .mainMas .imgMas img {
        width: 80%; }
    body .mainMas .listaTip {
      width: auto; } }

@media screen and (min-width: 800px) and (max-width: 1000px) {
  /* Mas..*/
  body .mainMas .imgMas {
    justify-content: end; }
    body .mainMas .imgMas img {
      width: 80%;
      height: 80%; } }

/*Anteriores*/
/* Tablets */
@media screen and (min-width: 740px) and (max-width: 1045px) {
  body main .seccion-1 .principal {
    width: 100%; }
    body main .seccion-1 .principal p {
      font-size: 3vh; }
  body main .seccion-1 div a {
    width: 100%;
    font-size: 80%;
    text-align: center; }
  body main .seccion-2 {
    grid-template-columns: 2fr 1fr; }
    body main .seccion-2 .texto {
      width: auto;
      line-height: normal; }
      body main .seccion-2 .texto .titulo {
        font-size: 80%;
        padding: 0; }
      body main .seccion-2 .texto p {
        font-size: 80%; }
  body main .seccion-3 {
    height: auto; }
  body main .seccion-4 {
    height: auto;
    grid-template-columns: 60% 40%; }
    body main .seccion-4 .tituloS4 {
      width: 1fr; }
      body main .seccion-4 .tituloS4 h2 {
        font-size: 220%; }
        body main .seccion-4 .tituloS4 h2 span {
          font-size: 220%;
          left: 18%; }
    body main .seccion-4 .textoS4 ol {
      height: 60vw;
      font-size: 80%; }
    body main .seccion-4 .imgS4 {
      right: 20%; }
      body main .seccion-4 .imgS4 img {
        width: 120%; }
  body main .seccion-5 {
    grid-template-columns: 30% 30% 40%; }
    body main .seccion-5 .atributo4 {
      justify-content: end; }
    body main .seccion-5 .imgS5 img {
      bottom: 40%;
      width: 150%; }
    body main .seccion-5 .atributo6 {
      justify-content: end; } }

/* mobile */
@media screen and (max-width: 740px) {
  body header .buttonTop a {
    margin: 0;
    font-size: 70%; }
  body main .seccion-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0 10px 20px 10px; }
    body main .seccion-1 div {
      padding: 25% 10% 0 10%; }
      body main .seccion-1 div a {
        font-size: 60%; }
    body main .seccion-1 .principal p {
      font-size: 1.5vh; }
  body main .seccion-2 {
    display: flex;
    flex-direction: column;
    height: auto; }
    body main .seccion-2 .imgCabezaS2 {
      display: none; }
    body main .seccion-2 .texto {
      margin: 0; }
    body main .seccion-2 .imgFondoS2 {
      margin: 0 0 10px 0; }
  body main .seccion-3 {
    height: auto;
    grid-template-rows: 5% 5% 27% 8% 10% 4% 30%; }
    body main .seccion-3 .tituloS3 h2 {
      font-size: 170%; }
    body main .seccion-3 .subtituloS3 {
      font-size: 100%; }
    body main .seccion-3 .textoS3 {
      justify-content: center; }
      body main .seccion-3 .textoS3 p {
        margin-bottom: 0; }
    body main .seccion-3 .imgS3 img {
      width: auto;
      bottom: 0; }
    body main .seccion-3 .prop1 p {
      align-self: flex-end; }
    body main .seccion-3 .prop3 p {
      align-self: flex-end; }
  body main .seccion-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto; }
    body main .seccion-4 .tituloS4 {
      width: 100vw; }
      body main .seccion-4 .tituloS4 h2 {
        font-size: 100%; }
        body main .seccion-4 .tituloS4 h2 span {
          font-size: 200%;
          left: 18%;
          top: 5px; }
    body main .seccion-4 .textoS4 {
      justify-content: center;
      font-size: 80%; }
    body main .seccion-4 .imgS4 {
      display: flex;
      justify-content: center;
      right: 0;
      top: 0; }
      body main .seccion-4 .imgS4 img {
        width: 60%; }
  body main .seccion-5 {
    display: flex;
    flex-direction: column;
    height: 100vh; }
    body main .seccion-5 .tituloS5 {
      flex-direction: column;
      justify-content: center; }
      body main .seccion-5 .tituloS5 p {
        align-self: center;
        font-size: 3.5vh; }
      body main .seccion-5 .tituloS5 h2 {
        align-self: center;
        font-size: 4.5vh; }
    body main .seccion-5 .atributo1 {
      justify-content: start; }
    body main .seccion-5 .atributo2 {
      justify-content: end; }
    body main .seccion-5 .atributo3 {
      justify-content: start; }
    body main .seccion-5 .atributo4 {
      justify-content: end; }
    body main .seccion-5 .atributo5 {
      justify-content: start; }
    body main .seccion-5 .atributo6 {
      justify-content: end; }
    body main .seccion-5 .atributo7 {
      justify-content: start; }
    body main .seccion-5 .atributo8 {
      justify-content: end; }
    body main .seccion-5 .imgS5 {
      display: flex;
      justify-content: center; }
      body main .seccion-5 .imgS5 img {
        width: 80%;
        bottom: 30%; } }
